body
{
    background-color: mintcream;
    font-family: 'Comic Sans MS', sans-serif;
}

.card
{
    vertical-align: top;
    border: 2px solid #b5e9a7;
    border-radius: 5px;
    background: #fff;
    margin: 0 20px 20px 0;
}

.cat-img
{
    position: relative;
    overflow: hidden;
}

img
{
    object-fit: cover;
    transition: transform .4s ease-out;
}

img:hover
{
    transform: scale(1.05);
}

.pic-switch
{
    width: 35px;
    height: 35px;
    display: block;
    cursor: pointer;
    padding-bottom: 20px;
}

.switch
{
    display: none;

}

.switch:not(:checked) ~ .pic-switch
{
    background: url(pics/list.PNG) no-repeat;
    background-size: contain;

}

.switch:checked ~ .pic-switch
{
    background: url(pics/gread.PNG) no-repeat;
    background-size: contain;
}

.switch:not(:checked) ~ .card > .short-info
{
    display: block;
}

.switch:not(:checked) ~ .card > .long-info
{
    display: none;
}

.switch:checked ~ .card > .short-info
{
    display: none;
}

.switch:checked ~ .card > .long-info
{
    display: block;
}

.switch:not(:checked) ~ .card
{
    display: inline-block;
    width: 300px;
    height: 400px;
}

.switch:checked ~ .card
{
    display: block;
    width: 400px;
    height: 450px;
}

.switch:checked ~ .card .cat-img img
{
    width: 400px;
    height: 250px;

}

.switch:not(:checked) ~ .card .cat-img img
{
    width: 300px;
    height: 200px;
}

.card:hover
{
    box-shadow: 0 0 10px;
}

a
{
    text-decoration: none;
    color: #2d2d2d;
}

h2
{
    line-height: 20px;
    text-shadow: 1px 1px 0 white
        , 1px -1px 0 white
        , -1px 1px 0 white
        , -1px -1px 0 white;
    color: #2d2d2d;
    transition: all 1s;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
}

h2:hover
{
    text-shadow: 1px 1px 0 yellowgreen
        , 1px -1px 0 yellowgreen
        , -1px 1px 0 yellowgreen
        , -1px -1px 0 yellowgreen;
    color: white;
}

.age:before
{
    content: 'Возраст: ';
}

.breed:before
{
    content: 'Порода: ';
}

.disease:before
{
    content: 'Заболевания: ';
}

.status:before
{
    content: 'Статус: ';
}

p
{
    font-size: 14px;
    line-height: 14px;
    color: #2d2d2d;
    padding-left: 5px;
}

.long-info p
{
    font-size: 16px;
    line-height: 16px;
}
